# ==============================
# Entornos virtuales
# ==============================
.venv/
venv/
ENV/



# ==============================
# Archivos Python
# ==============================
__pycache__/
*.py[cod]
*.pyo

# ==============================
# Archivos temporales
# ==============================
*.log
*.tmp
*.temp

# ==============================
# Jupyter / IPython
# ==============================
.ipynb_checkpoints/

# ==============================
# macOS
# ==============================
.DS_Store
.AppleDouble
.LSOverride

# ==============================
# VS Code / editores (opcional)
# ==============================
.vscode/
.idea/
src/pipeline_datos/reglas_viejo.py
